* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid green;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post__btns {
  display: flex;
}
.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 2px solid orange;
  font-weight: 700;
}

.navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;
  gap: 20px;
}
.navbar__links {
  margin-left: auto;
}
